// vars

$main: #444;
$accent: #fcc16b;
$light: #eee;
$radius: 5px;



// base

body {
  margin: 0;

  color: $main;
  font: {
    family: 'Raleway', sans-serif;
    size: 14px;
    weight: 400;
  }

}

h1 {
  margin: 0 0 30px 0;
  font: {
    family: 'Montserrat', sans-serif;
    size: 40px;
    weight: 900;
  }

}

h4 {
  margin: 0 0 30px 0;
  color: $accent;
}

p {
  color: transparentize($main, .4);
  margin: 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: $main;
}

.p-link {
  color: $accent;
  text-decoration: underline;
}

.nav-link {
  font-weight: 700;
}

.button {
  background: $accent;
  border-radius: $radius;
  padding: 12px 30px;
  color: white;
  font-weight: 700;
}



// layout

.container {
  max-width: 960px;
  margin: 0 auto;

  .marg {
    margin: 0 30px;
  }

}



// header

.header {
  background: seashell;
  margin: 45px 0 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    background: $light;
    height: 60px;
    width: 200px;
    border-radius: $radius;
  }

  .nav {
    background: azure;

    display: flex;
    align-items: center;

    &-links {
      margin: 0 45px 0 0;
    }

    &-link {
      margin: 0 30px 0 0;

      &:last-child {
        margin: 0;
      }

    }

  }

}



// intro

.intro {
  background: seashell;
  margin: 150px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    margin: 0 0 60px 0;
  }

  i {
    font-size: 16px;
    color: $accent;
  }

}



// hero

.hero {
  background: $light;
  height: 600px;
}



// about

.about {
  background: seashell;
  margin: 150px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1, p {
    text-align: center;
  }

}



// tiles

.tiles {
  background: seashell;

  display: flex;

  .tile {
    background: $light;
    height: 300px;
    width: 50%;

    &:last-child {
      margin: 90px 0 0 30px;
    }

  }

}



// ingredients

.ingredients {
  @extend .about;

  .button {
    margin: 60px 0 0 0;
  }

}



// vid

.vid {
  background: $light;
  height: 400px;
  margin: 0 0 150px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  i {
    color: $accent;
    font-size: 50px;
  }

}



// footer

.footer {
  @extend .header;
  margin: 0 0 45px 0;
}



// media

@media (max-width: 700px) {

  // nav

  .header {
    display: block;

    .logo {
      display: none;
    }

    .nav {
      justify-content: space-between;

      &-links {
        margin: 0;
      }

    }

  }

  // tiles

  .tiles {
    flex-direction: column;
  
    .tile {
      width: 100%;
      margin: 0;

      &:last-child {
        margin: 30px 0 0 0;
      }

    }

  }

  // vid

  .vid {
    height: 300px;
  }

  // hero

  .hero {
    height: 400px;
  }

}

@media (max-width: 400px) {

  // marg

  .container {
    .marg {
      margin: 0 15px;
    }

  }

  // links

  .header {
    .nav {
      &-link {
        margin: 0 15px 0 0;
      }

    }

  }

}
